.contact-us {
    &.section {
        padding-bottom: 0;
    }
    padding-top: rem(90);
    background-image: url("/img/contact-us-cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: $black;
    &__subtitle {
        font-weight: 700;
        font-size: rem(16);
        line-height: rem(24);
        letter-spacing: rem(0.1);
    }
    &__title {
        font-weight: 700;
        font-size: rem(40);
        line-height: rem(57);
        letter-spacing: rem(0.2);
    }
    &__form {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        margin-top: rem(40);
        gap: rem(20);
        @media (max-width: $md2) {
            width: 100%;
        }
        .form {
            &__input {
                width: 48%;
                @media (max-width: $md4) {
                    width: 100%;
                }
            }
            &__textarea {
                width: 100%;
                textarea {
                    height: rem(140);
                }
            }
            &__btn {
                margin-top: rem(40);
                @media (max-width: $md4) {
                    width: 100%;
                }
            }
        }
    }
    &__footer {
        height: rem(142);
        margin-top: rem(62);
        @media (max-width: $md4) {
            height: auto;
        }
        .footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $md3) {
                flex-direction: column;
                justify-content: start;
                align-items: baseline;
                height: auto;
                padding: rem(20) rem(15);
                gap: rem(20);
            }
            &__title {
                font-weight: bold;
                font-size: rem(24);
                line-height: rem(32);
                letter-spacing: rem(0.1);
            }
            &__description {
                font-weight: 500;
                font-size: rem(14);
                line-height: rem(20);
                letter-spacing: rem(0.2);
                color: $gray;
                margin-top: rem(10);
            }
            &__btn {
                color: white;
                @media (max-width: $md4) {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}