.what-client-say {
    &__cards {
        display: flex;
        justify-content: center;
        gap: rem(30);
        margin: rem(80) 0;
        @media (max-width: $md2) {
            flex-wrap: wrap;
        }
        .card {
            cursor: default;
            width: rem(330);
            padding: rem(35);
            background-color: white;
            border-radius: rem(5);
            transition: box-shadow ease .2s;
            &:hover {
                box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            }
            &__description {
                font-weight: 600;
                font-size: rem(14);
                line-height: rem(24);
                letter-spacing: rem(0.2);
                color: $gray;
                margin: rem(20) 0;
            }
            &__stars {
                display: flex;
            }
            &__star {
                width: rem(20);
                height: rem(20);
                margin-right: rem(3);
                &.on {
                    background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.6716 7.41256C18.6139 7.24274 18.5078 7.09353 18.3663 6.98335C18.2248 6.87316 18.0542 6.80681 17.8754 6.79251L12.6463 6.377L10.3835 1.36798C10.3114 1.20665 10.1942 1.06963 10.046 0.973442C9.89773 0.877257 9.72484 0.826025 9.54815 0.825928C9.37146 0.825831 9.19851 0.876874 9.05019 0.972896C8.90186 1.06892 8.78449 1.20582 8.71225 1.36707L6.44944 6.377L1.22029 6.79251C1.04459 6.80642 0.876632 6.87066 0.736494 6.97754C0.596357 7.08442 0.489977 7.2294 0.430082 7.39516C0.370186 7.56091 0.359312 7.74041 0.39876 7.91218C0.438207 8.08395 0.526306 8.24072 0.652517 8.36373L4.51682 12.1308L3.15015 18.0488C3.10865 18.2279 3.12195 18.4154 3.18832 18.5869C3.25469 18.7584 3.37107 18.9059 3.52236 19.0105C3.67365 19.115 3.85286 19.1716 4.03673 19.173C4.2206 19.1744 4.40065 19.1205 4.55351 19.0183L9.54785 15.6888L14.5422 19.0183C14.6984 19.1221 14.8827 19.1755 15.0702 19.1713C15.2577 19.1672 15.4394 19.1058 15.591 18.9953C15.7425 18.8848 15.8566 18.7306 15.9178 18.5533C15.9791 18.3761 15.9846 18.1843 15.9336 18.0039L14.256 12.1336L18.4166 8.38941C18.689 8.14359 18.789 7.76019 18.6716 7.41256Z' fill='%23F3CD03'/%3E%3C/svg%3E");
                }
                &.off {
                    background-image: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.53239 12.1308L3.16571 18.0488C3.12339 18.228 3.1361 18.4158 3.20217 18.5877C3.26824 18.7596 3.3846 18.9075 3.53606 19.0122C3.68752 19.1169 3.86704 19.1735 4.05117 19.1746C4.23529 19.1757 4.41547 19.1212 4.56816 19.0183L9.5625 15.6888L14.5568 19.0183C14.7131 19.1221 14.8973 19.1755 15.0848 19.1714C15.2723 19.1673 15.4541 19.1058 15.6056 18.9953C15.7571 18.8849 15.8712 18.7306 15.9325 18.5534C15.9937 18.3761 15.9993 18.1844 15.9483 18.0039L14.2707 12.1336L18.4312 8.38944C18.5645 8.26946 18.6597 8.11304 18.705 7.93955C18.7503 7.76605 18.7437 7.58308 18.6861 7.41327C18.6286 7.24345 18.5225 7.09424 18.381 6.98408C18.2395 6.87392 18.0688 6.80764 17.8901 6.79345L12.6609 6.37703L10.3981 1.36801C10.326 1.20672 10.2087 1.06976 10.0604 0.973657C9.91211 0.877554 9.7392 0.826416 9.5625 0.826416C9.38581 0.826416 9.21289 0.877554 9.06462 0.973657C8.91635 1.06976 8.79906 1.20672 8.7269 1.36801L6.46409 6.37703L1.23493 6.79254C1.05924 6.80645 0.891281 6.87069 0.751143 6.97757C0.611005 7.08445 0.504625 7.22943 0.44473 7.39518C0.384835 7.56094 0.37396 7.74044 0.413408 7.91221C0.452856 8.08398 0.540955 8.24074 0.667166 8.36376L4.53239 12.1308ZM7.14926 8.16288C7.31298 8.14998 7.47022 8.09328 7.60449 7.99871C7.73875 7.90414 7.84511 7.77519 7.9124 7.62538L9.5625 3.97387L11.2126 7.62538C11.2799 7.77519 11.3863 7.90414 11.5205 7.99871C11.6548 8.09328 11.812 8.14998 11.9757 8.16288L15.619 8.45181L12.6187 11.1521C12.3582 11.387 12.2546 11.7484 12.35 12.0859L13.4993 16.108L10.0725 13.8231C9.92207 13.7222 9.74503 13.6683 9.56388 13.6683C9.38273 13.6683 9.20568 13.7222 9.05527 13.8231L5.47439 16.2107L6.43749 12.0409C6.4728 11.8876 6.46806 11.7277 6.42372 11.5767C6.37939 11.4257 6.29695 11.2887 6.18433 11.1787L3.39777 8.4619L7.14926 8.16288Z' fill='%23F3CD03'/%3E%3C/svg%3E%0A");
                }
            }
            .user {
                display: flex;
                align-items: center;
                &__info {
                    margin-left: rem(15);
                    display: flex;
                    flex-direction: column;
                }
                &__name {
                    font-weight: 600;
                    font-size: rem(14);
                    line-height: rem(24);
                    letter-spacing: rem(0.2);
                    color: $orange;
                }
                &__job {
                    font-weight: 600;
                    font-size: rem(14);
                    line-height: rem(24);
                    letter-spacing: rem(0.2);
                    color: $black;
                }
            }
        }
    }
}